<h1>This is the SHOW Page</h1>

<% if @user %>
	<div class="card card-header results-block">
		<strong>E-mail: </strong> <%= link_to "#{@user.email}", user_profile_path(@user) %>
		<strong>First Name: </strong> <%= @user.first_name %>
		<strong>Last Name:</strong> <%= @user.last_name %>
		<%  if !current_user.check_friend_list(@user.email) %>
			<%= link_to "Add Friend", friendship_index_path(user: current_user,  friend: @user), class: "btn btn-xs btn-success", method: :post%>
		<% else %>
			<span class="badge badge-secondary">
				Already Added
			</span>	
		<% end %>
	</div>
<%else%>
	<h2>That Person Doesn't Exist</h2>
<% end %>